.header{
    padding-bottom: 200px;
    position: relative;
    background-color: #f2f3fa;
    overflow: hidden;
}
.header .effect-1 {
    position: absolute;
    top: -70px;
    left: -70px;
    width: 400px;
    height: 400px;
}
.opacity-1 {
    opacity: 0.1;
}
.header .effect-2{
    position: absolute;
    bottom: -70px;
    right: -70px;
    width: 400px;
    height: 400px;
}
.header .svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.white-color{
    color: #ffffff;
}
.svg-color polygon, .svg-color path, .svg-color circle, .svg_img polygon, .svg_img path, .svg_img circle {
    fill: currentColor;
}
/* Header navbar */
.header__heading{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top:0;
    z-index:10;
}

.svg {
    overflow: hidden;
    vertical-align: middle;
}
.header__navbar{

}

.header__navbar__category__icon{
    display: none;
    color:var(--pcolor);
    font-size: 4rem;
    cursor: pointer;
    text-align: end;
    width: 50%;
}

.header__navbar__category{
    position: unset;
    display: flex;
}

.header__navbar__category__item{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-right:20px;
    cursor: pointer;
    position: relative;
    color:var(--pcolor);
    padding: 20px 0;
}

.header__navbar__category__item--big{
    position: unset;
}

.header__navbar__category__item--big:hover .header__navbar__category__item__list--big{
    display: block;
}

.header__navbar__category__item:hover{
    color:var(--hovercolor);
}

.header__navbar__logo{
    padding: 20px 0;
    width: 50%;
}

.header__navbar__logo__detail{
    margin-top: 5px;
}

.header__navbar__category__item--icon{
    margin-top: 5px;
}

.header__navbar__category__btn{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    border: 3px solid #ffc107;
    transition: all 0.5s;
    height: 50%;
    margin: 20px 0;
}

.header__navbar__category__btn:hover{
    border: 3px solid #ffc107;
    background-color: white;
    color:#ffc107;
}

.header__navbar__category__item--name{
    font-size: 1.8rem;
    margin-right: 4px;
}

.header__navbar__category__item__list{
    position: absolute;
    border-top: 2px solid #008aff;
    top: 100%; 
    width: 150px;
    display: none;
    box-shadow: 0px 26px 21px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    background-color: white;
}

.header__navbar__category__item:hover .header__navbar__category__item__list{
    display: block;
}

.header__navbar__category__item__list__item{
    padding:18px 0px 0px 15px;
    color:#718096;
}

.header__navbar__category__item__list__item:hover{
    color: var(--hovercolor);
}

.header__navbar__category__item__list--big{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    border-top: 2px solid #008aff;
    box-shadow: 0px 26px 21px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    display: none;

    background-color: white;
}

.header__navbar__category__item__list--big__detail{
 
}
/* header */
.header__finish{
    padding-top: 200px;
}
.header__intro__left{
    padding-left: 0;
}

.header__intro__left__featured{
    border-radius: 20px;
    background-color: var(--pcolor);
    display: inline-block;
    color:white;
    padding:5px 10px;
    font-size: 1.8rem;
}

.header__intro__left__content{
    color:var(--pcolor);
    font-weight: bolder;
    font-size: 5rem;
}

.header__intro__left__title{
    color:#333;
    font-size: 1.8rem;
    margin:20px 0;
}

.header__intro__left__btn{
    background-color: var(--pcolor);
    color:white;
    border: 2px solid var(--pcolor);
    transition: all 0.5s;
    font-size: 1.8rem;
    font-weight: bold;
}
.header__intro__left__btn:hover{
    border: 2px solid var(--pcolor);
    background-color:white;
}
.header__intro__right__img{
    width: 100%;
    height: 100%;
}

/* middle */
.easyway__full{
    padding: 100px 0;
}

.easyway__full__web{
    padding-right: 0;
}

.easyway__full__intro{

}

.easyway__full__intro__title--important{
    color:var(--hovercolor);
    font-size: 1.6rem;
}

.easyway__full__intro__title--normal{
    color:var(--pcolor);
    font-size: 2.5rem;
    font-weight: bold;
}

.easyway__full__intro__content{
    color:#718096;
    font-size: 1.8rem;
    margin: 10px 0;
}

.easyway__full__intro__btn{
    background-color: var(--hovercolor);
    color:white;
    border: 2px solid var(--hovercolor);
    font-size: 1.5rem;
    transition: all 0.5s;
    font-weight: bold;
}
.easyway__full__intro__btn:hover{
    background-color: white;
    color:var(--hovercolor);
}

.easyway__full__marketing{

}

.easyway__full__picture{
    width: 100%;
}

.easyway__full__general__title{
    font-size: 1.6rem;
    color:var(--pcolor);
}

.easyway__full__general__content{
    color:#718096;
    font-size: 1.6rem;
}

.list{
    padding: 50px 0;
    background-color: #f2f3fa;
}

.list__full{
    
}

.list__full_item{
    background-color: white;
    margin-right: 31px;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
    transition: all 0.5s;
}

.list__full_item:last-child{
    margin-right: 0;
}

.list__full_item__icon{
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color:var(--hovercolor);
}

.list__full_item:hover{
    background-color: var(--hovercolor);
    transform: translateY(-20px);
}
.list__full_item:hover .list__full_item__icon{
    color:white;
}

.list__full_item:hover .list__full_item__content{
    color:white;
}
.list__full_item__content{
    color:var(--pcolor);
    font-size: 2.1rem;
    text-align: center;
}

.agency{
    padding:100px 0 0;
}

.agency__full__detail.col-sm{
    text-align: center;
    padding:0;
}

.agency__full__detail__title{
    font-size: 1.5rem;
    color:#718096;
}

.agency__full__detail__content{
    font-size: 2.8rem;
    max-width: 730px;
    color:var(--pcolor);
    padding-bottom: 50px;
    margin: auto;
}

.agency__full__detail__picture{
    width: 100%;
}

.lasted-work{
    background-color: #f2f3fa;
    padding:100px 0;
    position: relative;
}

.lasted-work__intro{
    text-align: center;
}

.lasted-work__intro__full{

}

.lasted-work__intro__full__item{

}

.lasted-work__intro__full__item__title{
    position: relative;
    font-size: 4rem;
    color:var(--pcolor);
    font-weight: bold;
    display: inline-block;
}

.lasted-work__intro__full__item__title::after{
    position: absolute;
    content: "";
    background-color: var(--hovercolor);
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
}

.lasted-work__intro__full__item__content{
    font-size: 2rem;
    max-width: 730px;
    margin: auto;
    color:#718096;
}

.lasted-work__detail{

}

.lasted-work__detail__list{
    display: flex;
    margin-top: 1%;
}

.lasted-work__detail__item{
   margin: 0 1%;
   position: relative;
   overflow: hidden;
}

.lasted-work__detail__item:hover .lasted-work__detail__item__overlay{
    opacity: 1;
    transform: translateX(0);
}

.lasted-work__detail__item__picture{
    width: 100%;
}

.lasted-work__detail__item__overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    transform-origin: left;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;

}

.lasted-work__detail__item__overlay__title{
    font-size: 2rem;
    color:white;
    padding: 5% 5% 0;
}

.lasted-work__detail__item__overlay__content{
    padding: 5%;
    font-size: 1.8rem;
    color:#718096;
}

.lasted-work__detail__item__overlay__link{
    margin: 5%;
    color:white;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.lasted-work__detail__item__overlay__link__underline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.lasted-work__detail__item__overlay__link:hover .lasted-work__detail__item__overlay__link__underline{
    opacity: 1;
    transform: translateX(0);
}

/* click picture */
.overlay-fullscreen{
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%; 
   height: 100vh;
   position: fixed;
   top:0;
   z-index:10;
   display: none;
}

.overlay-fullscreen__btn{
    
}

.overlay-fullscreen__picture{
    margin: auto;
    width: 50%;
    height:90vh
}

.overlay-fullscreen__btn--left{
    position: absolute;
    height: 40px;
    top: 50%;
    background-color: rgba(0,0,0,0.7);
}
.overlay-fullscreen__btn--right{
    position: absolute;
    height: 40px;
    top: 50%;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}

.btn--overlay:hover{
    background-color: #333;
}

.btn--overlay__icon{
    color:white;
}

.overlay-fullscreen__exit{
    color:white;
    font-size: 2rem;
    position: absolute;
    top:5%;
    right:5%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
}

.overlay-fullscreen__exit:hover{ 
    color:white;
    background-color: #333;
}

.overlay-fullscreen__info{
    position: absolute;
    bottom: 5px;
    color:white;
    font-size: 2rem;
    right: 50%;
}

/*  */
.easyway-2{
    padding:100px 0;
}

.easyway-2__intro{
    margin-right: 100px;
}

.easyway-2__intro__title--important{
    color:var(--hovercolor);
    font-size: 1.6rem;
    font-weight: bold;
}

.easyway-2__intro__title--normal{
    color:var(--pcolor);
    font-size: 3.1rem;
    font-weight: bold;
}

.easyway-2__intro__content{
    color: #718096;
    font-size: 1.8rem;
    margin: 10px 0;
}

.easyway-2__intro__btn{
    background-color: var(--hovercolor);
    color: white;
    border: 2px solid var(--hovercolor);
    font-size: 1.5rem;
    transition: all 0.5s;
    font-weight: bold;
    margin-bottom: 10px;
}

.easyway-2__intro__btn:hover{
    background-color: white;
    color:var(--hovercolor);
}


.easyway-2__detail{
    padding:0;
}

.easyway-2__detail:last-child{
    margin-left:10px;
}
.easyway-2__detail__list{
    margin-bottom: 40px;
}

.easyway-2__detail__icon{
    margin-bottom: 20px;
    font-size: 4.2rem;
    color:var(--hovercolor);
}

.easyway-2__detail__title{
    font-size: 2rem;
    color:var(--pcolor);
}

.easyway-2__detail__content{
    font-size: 1.8rem;
    color: #718096;
}

.focus{
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
}

.focus__left{
    padding:30px 20px 0;
    width: 50%;
}

.focus__left__title{
    font-size: 4rem;
    color:var(--pcolor);   
}

.focus__left__content{
    color:var(--normalcolor);
    font-size: 1.8rem;
    margin: 10px 0;
}

.focus__left__list{
    display: flex;
    margin-bottom: 20px;
}

.focus__left__item{
    margin-right: 20px;
}

.focus__left__item__detail{

}

.focus__left__item__detail__container{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.focus__left__item__detail__quantity{
    font-size: 3rem;
    color:var(--hovercolor);
}

.focus__left__item__detail__title{
    font-size: 2rem;
    color:var(--pcolor);
}

.focus__left__item__detail__content{
    color:var(--normalcolor);
    font-size: 1.5rem;
}

.focus__right{
    width: 50%;
}

.focus__right__img{
    width: 100%;
    height: 100%;
}

.statistic{
    padding:100px 0;
}

.statistic__item{
    padding:20px 0;
    margin-left: 20px;
    text-align: center;
    color:var(--normalcolor);
    border:2px solid transparent;
}

.statistic__item:first-child{
    margin:0;
}


.statistic__item:hover{
    border:2px solid var(--hovercolor);
}

.statistic__item__icon{
    font-size: 5rem;
}

.statistic__item__quantity{
    font-size: 4rem;
    color:var(--pcolor);
}

.statistic__item__detail{
    font-size: 2rem;
}

.easyway-3{
    display: flex;
    flex-wrap: wrap;
}

.easyway-3__item{
    padding:5%;
    color:white;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.easyway-3__item__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(23,19,71,0.6);
    left: 0;
    top:0;
    color:white;
    padding: 15%;
}

.easyway-3__item-1{
    background-image: url(http://pxdraft.com/themeforest/raino/static/img/bg-2.jpg);

}

.easyway-3__item-2{
    background-color: #008aff;
}

.easyway-3__item-3{
    background-image: url(http://pxdraft.com/themeforest/raino/static/img/bg-3.jpg);
}
.easyway-3__item__title--important{
    font-size: 1.5rem;
}

.easyway-3__item__title--normal{
    font-size: 3rem;
}

.easyway-3__item__content{
    font-size: 1.8rem;
    color:rgba(255, 255, 255, 0.65);
    margin:10px 0;
}

.easyway-3__item__btn{
    background-color: transparent;
    color:white;
    border: 2px solid white;
    font-size: 1.8rem;
    transition: all 0.5s;
}

.easyway-3__item__btn:hover{
    background-color:white;
    color:var(--pcolor);
}

.discussion{
    padding: 100px 0;
}

.discussion__container{
    padding:0 10px;
}

.discussion__container__full{
    width: 100%;
}

.discussion__item{
    padding: 0 50px 0 0;
}

.discussion__item:last-child{
    padding:0;
}

.discussion__item__container{
    display: flex;
    align-items: center;
}

.discussion__item__container__icon{
    font-size: 5rem;
    padding: 0px 10px 0 0;
    border-right:1px solid var(--normalcolor);
    color:var(--hovercolor);
}

.discussion__item__container__title{
    color:var(--normalcolor);
    padding-left: 10px;
    font-size: 1.5rem;
}

.discussion__item__container__title--normal{

}

.discussion__item__container__title--main{
    color:var(--pcolor);
}

.discussion__item__content{
    margin-top: 20px;
    color:var(--normalcolor);
    font-size: 1.5rem;
}

.straight{
    background-color: #f2f3fa;
    padding: 100px 0;
}

.general__container{
    text-align: center;
}
.general__title{
    display: inline-block;
    font-size: 4rem;
    color:var(--pcolor);  
    position: relative;  
    margin-bottom: 20px;
}

.general__title::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: var(--hovercolor);
}
.general__content{
    margin:auto;
    font-size: 2rem;
    color:var(--normalcolor);
    max-width: 730px;
}

.straight__item{
    color:var(--normalcolor);
    padding: 20px 20px;
    background-color: white;
    margin:40px 0 0 30px;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
    transition: all 1s;
}

.straight__item:first-child{
    margin-left: 0;
}

.straight__item:hover{
    transform: translateY(-5%);
}

.straight__item__money{
    font-size: 4rem;
    color:var(--pcolor);
}

.straight__item__content{
    font-size: 1.8rem;
    margin: 20px 0;
}

.straight__item__stick{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin:10px 0;
}

.straight__item__stick__icon{
    color:var(--hovercolor);
}

.straight__item__stick__detail{
    margin:0 20px;
}

.straight__item__btn{
    font-size: 2rem;
    color:white;
    background-color: var(--hovercolor);
    width: 100%;
    border: 2px solid var(--hovercolor);
    transition: all 0.5s;
}

.straight__item__btn:hover{
    background-color: white;
    color:var(--hovercolor);
}

.trust{
    background-color: white;
    padding: 100px 0;
}

.trust__item{
    margin-top: 40px;
}

.trust__item:last-child{
   padding-right: 0;
}

.trust__item:first-child{
    padding-left: 0;
}

.trust__item__container__img{
    overflow: hidden;
    position: relative;
}

.trust__item:hover .trust__item__img{
    transform: scale(1.1);
    filter: brightness(0.8);
}

.trust__item__img{
    width: 100%;
    transition: all 0.5s;
}

.trust__item__container__img__text{
    position: absolute;
    color:white;
    font-size: 1.5rem;
    bottom: 40px;
    left:10px;
    opacity: 0;
    transition: all 0.5s;
}

.trust__item__icon__container{
    position: absolute;
    bottom: 10px;
    left:10px;
    font-size: 2rem;
    color:white;
    opacity: 0;
    transition: all 0.5s;
}

.trust__item:hover .trust__item__container__img__text{
    opacity: 1;
}

.trust__item:hover .trust__item__icon__container{
    opacity: 1;
}

.trust__item__icon{
    margin-left: 10px;
    cursor: pointer;
}

.trust__item__icon:hover{
    color: black;
}

.trust__item__name{
    margin:10px 0 0;
    color:var(--pcolor);
}

.trust__item__detail{
    margin:5px 0 0;
    color:var(--normalcolor);
    font-size: 1.4rem;
}

.publish{
    padding: 100px 0;
    background-color: #f2f3fa;
}

.publish__item{

}

.publish__item:last-child{
    padding-right:0;
}

.publish__item:first-child{
    padding-left:0;
}

.publish__item:hover .publish__item__container__picture__img{
    transform: scale(1.1);
}

.publish__item__container__picture{
    overflow: hidden;
    position: relative;
    margin-top:40px;
}

.publish__item__container__picture__img{
    width: 100%;
    transition: all 0.5s;
}

.publish__item__container__picture__text{
    position: absolute;
    top:20px;
    left:20px;
    color:white;
    background-color: var(--hovercolor);
    padding: 10px 15px;
    border-radius: 4px;
}

.publish__item__container__picture__text__date{
    font-size: 2.5rem;
}

.publish__item__container__picture__text__month{
    font-size: 1.5rem;
}

.publish__item__container__picture__detail{
    background-color: white;
    box-shadow: 0px 26px 21px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.publish__item__title{
    font-size: 2rem;
    color:var(--pcolor);
    cursor: pointer;
}

.publish__item__title:hover{
    color:var(--hovercolor);
}

.publish__item__content{
    margin: 10px 0;
    font-size: 1.5rem;
    color:var(--normalcolor);
}

.publish__item__link{
    font-size: 2rem;
}

/* footer */
.footer{
    background-color: var(--pcolor);
    padding-top:80px;
}

.footer__heading{

}

.footer__heading__full{
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 80px;
}

.footer__heading__logo{

}

.footer__heading__logo__img{

}

.footer__heading__list{
    font-size: 1.6rem;
}

.footer__heading__list__title{
    color:white;
    font-size: 2rem;
}

.footer__heading__list__item{
    margin:5px 0;
    color:rgba(255, 255, 255, 0.7);
    position: relative;
    cursor: pointer;
}

.footer__heading__list__item:hover{
    color:white;
    text-decoration: underline;
}

.footer__heading__input{
    
} 

.footer__heading__input__container{
    display: flex;
    margin-top: 10px;
}

.footer__heading__input__main{
    width: 75%;
    font-size: 1.5rem;
    margin-right: 20px;
    border-radius:4px;
    outline:none;
    border: 1px solid rgba(0, 0, 0, 0.1) ;
}

.footer__heading__input__btn{
    background-color: #ffbe3d;
    font-size: 1.5rem;
    border: 2px solid #ffbe3d;
    color:white;
    width: 25%;
    padding:10px;
    font-weight: bold;
}

.footer__heading__input__btn:hover{
    background-color: white;
    color:#ffbe3d;
}

.footer__heading__input__description{
    margin: 10px 0;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 0.7);
}

.footer__finish{
    color:rgba(255, 255, 255, 0.7); 
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 0;
}

.footer__finish__list{
    display:flex;
    align-items: center;
}

.footer__finish__item{
    margin-right:10px;
    cursor: pointer;
}

.footer__finish__item:hover{
    color:white;
    text-decoration: underline;
}

.footer__finish__copyright{
    display: flex;
    justify-content: flex-end;
}
/* Responsive */
@media only screen and (min-width: 0px) and (max-width: 1024px){
    .list__full_item{
        margin-right:2px;
    }
    .focus__left{
        width: unset;
    }
    .focus__right{
        width: unset;
    }
    .focus__left__list{
        flex-wrap: wrap;
    }
    .straight__item{
        margin-left:10px;
    }
    .straight__item__stick__detail{
        margin-left: 5px;
    }
    .col-sm{
        padding-left: 15px;
    }
    .footer__heading__input{
        margin-left: 10px;
    }
    .easyway-3__item{
        width: unset;
    }
    .easyway-2__detail{
        padding-left: 0;
    }
    .discussion__item{
        padding:0 10px 0 0;
    }
    .easyway-2__detail__list{
        margin-left: 10px;
    }
    .easyway-2__detail:last-child{
        margin:unset;
    }
}

@media only screen and (min-width: 0px) and (max-width: 770px){
    .header__finish{
        padding-top: 50px;
    }
    .header__navbar__logo{
        display: flex;
        padding:0;
    }
    .header__navbar__logo__detail{
        margin-left: 15px;
    }
    .header__navbar__category{
        display: none;
        position: absolute;
        width: 100%;
        top:100%;
        right:0;
        background-color: white;
    }
    .header__navbar__category__item{
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: unset;
        display: block;
        padding:0;
    }
    .header__navbar__category__item__list--big{
        position: unset;
        height: 40vh;
        overflow: scroll;
    }
    .header__navbar__category__item__list{
        position: unset;
        width: 100%;
    }

    .header__navbar__category__item__list__item{
        padding:5px 0px 0px 10px;
    }
    .header__navbar__category__item--name{
        margin-left: 20px;
        padding:10px 0;
    }

    .header__navbar__category__item--icon.fa{
        display: none;
    }
    .header__navbar__category__icon{
        display: block;
    }
    .header__navbar__category__icon:hover{
        color:var(--hovercolor);
    }
    .header__navbar__category__btn{
        display: none;
    }
    .header__navbar.row{
        flex-wrap: unset;
    }
    .focus__left{
        padding:0;
        margin:10px 10px;
    }
    .focus__left__item{
        margin:0;
    }
    .discussion__item{
        padding:0;
    }
    .footer__heading__full{
        text-align: center;
    }
    .publish__item:last-child{
        padding: 0 15px;
    }
    .publish__item:first-child{
        padding: 0 15px;
    }
    .trust__item:last-child{
        padding: 0 15px;
    }
    .trust__item:first-child{
        padding: 0 15px;
    }
    .straight__item{
        margin:20px 15px;
    }
    .straight__item:first-child{
        margin-left: 15px;
    }
    .straight__item:last-child{
        margin-right: 15px;
    }
    .row.discussion__container__full{
        margin-left:unset;
    }
    .statistic__item{
        margin:unset;
    }
    .easyway-2__intro{
        margin:0 0 0 10px;
    }
    .lasted-work__detail__list{
        flex-wrap: wrap;
    }
}




